*{
    margin:0px ;
}

#navigationbar{
    background-color: black;
    display:flex;
    justify-content: right;
    height: 50px;
    align-items: center;
    position:sticky;
    top:0px; 
    z-index: 100;
    
}

#navigationbar ul{
    margin-right: 30px;
    color:white ;
    display:flex; 
    list-style: none;
    
}
#navigationbar ul li{
    margin: 0px 10px;
    border:2px solid white ;
    padding: 3px;
    border-radius:19px ;
}
#navigationbar ul li a{
    padding: 13px;
    text-decoration: none;
    color:white ; 
}

.trial{
    height: 1100px ;
}

.maincenter{
   
    height: 300px;
    display: flex;
    border: 2px solid coral;
    justify-content: center;
    align-items: center;
}

.content{
    
    border:1px solid brown;
    height:422px ;
    display:flex ;
    justify-content: center;
}

.item{
    margin:30px ;
    width:300px ;
    height:366px; 
    background-color: rgba(255,255, 255, .05);
    box-shadow: 0 0 5px rgba(0,0,0 ,0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px ;
    display: flex ;
    justify-content: center;
    z-index: 10 ;
    transform-style: preserve-3d;
    transition:transform 0.5s ;
    /* background-color: black; */
}
.itemback{
    visibility: hidden;
}
.item:hover{
    transform: rotateY(180deg);
}

.itemback{
    display: flex;
    position: relative;
    justify-content:center;
    align-items: center;
    transform-style: preserve-3d;
}
.item:hover .itemfront{
    visibility:hidden;
}

.item:hover .itemback{
    visibility: visible;
    transform: rotateY(180deg);
}
.itemfront{
    display: flex;
    justify-content:center ;
    position:relative ;
    /* background-color:black */
}
.itemfront img{
    height:200px; 
    width:auto;
    position:fixed  ;
    left:70px; 
    margin-top:30px ;
    
}
.itemfront p{
    position:fixed;
    bottom:60px ;
    left:70px;  
    text-align: center;
    width: 150px;
}

.itemback ul{
    
    /* margin: 4px; */
    position: fixed;
    width: 200px;
    top:70px ;
}
.itmeback ul li{
    /* margin:4px ; */
    width: 50px;;
    font-size: x-large;
}

.submit{
    position:absolute ;
    bottom:80px; 
    font-size: medium;
    width: 150px;
    height: 40px;
    text-align: center;
    right:-70px ;
    background-image: linear-gradient(90deg, #1b1d1c, #546159);
    color: #fdfbfb;
    transition: all;
  
  
  
    
}
.submit:hover{
    /* */
    border:2px linear-gradient(90deg, #1b1d1c, #546159);;
}
