* {
    margin: 0px;
}

#navigationbar {
    background-color: black;
    display: flex;
    justify-content: right;
    height: 50px;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 100;

}

#navigationbar ul {
    margin-right: 30px;
    color: white;
    display: flex;
    list-style: none;

}

#navigationbar ul li {
    margin: 0px 10px;
    border: 2px solid white;
    padding: 3px;
    border-radius: 19px;
}

#navigationbar ul li a {
    padding: 13px;
    text-decoration: none;
    color: white;
}
.loginbox{
    
    width:30vw ;
    height: 300px;
    border:1px solid black ;
    margin-left:35vw ;
    margin-top:25vh ;
    text-align: center;
}
.loginbox h1{
    margin: 20px ;
}
.loginbox input[type="text"], input[type="password"]{
    margin:10px; 
    height: 30px;
    text-align: center;
    width: 60%;

}
.forgotandsubmit{
    display: flex;
    margin: 10px;
    justify-content: center;
   
    height: 10%;
    /* width: 60%; */
    /* border: 1px solid black ; */
    
}
.loginbox a{
    margin-left:70px ;   
}

.loginbox input[type="submit"]{
    width: 110px;
    height: 30px;
    margin-top: -5px ;

}
