#login{
    /* border: 2px solid red; */
    /* margin-top: ; */
    padding: 10px 10px;
    width: 300px;
    height: 300px;
    background-color: rgba(255,255,255,.05);
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    box-sizing: border-box;
    margin:150px auto ;
}
#login h2{
    width:max-content;
    margin: auto auto;
    padding-bottom: 20px;
    
}
#forgotpassword{
    float:right;
    margin-top: 4px;
    margin-right: 40px; 
    font-size: x-small;
}

#login input{
    margin-bottom:5px ;
    border-radius: 20px;
    border:none;
    text-align: center;
    
}

body{
    /* background-image: url(https://cdn.pixabay.com/photo/2016/05/05/02/37/sunset-1373171__480.jpg); */
    background-image: url(https://i.pinimg.com/564x/85/ec/2c/85ec2c838058e0de39bf93dce41d36d2.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center center;
}